.btn-wrapper button {
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
}
.img-wrapper img {
  width: 100px;
  margin-top: -10px;
}
.cart-wrapper {
  height: 100px;
  width: 500px;
  margin-left: 10%;
}
.item {
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}

.header {
  border: "2px solid black";
}
